<!-- About Section -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="https://source.unsplash.com/random/1920x1080/?Food" alt="About Image" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h2>About TakeAway</h2>
       
        <p>Welcome to our delightful food ordering website, where culinary delights and convenience meet!
        </p>
        <p>Discover a gastronomic adventure from the comfort of your own home with our user-friendly platform. Whether you're a food connoisseur or simply craving a scrumptious meal, we've got you covered.</p>
       
      </div>
    </div>
  </div>
</section>
